# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Data files
data/*.csv
data/*.zip

# Model files
models/*.pkl
models/*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
